{% extends 'base.html' %}

{% block css %}
<style>


    /* center the form on the page */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* style the form labels and inputs */
label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 300px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

</style>


{% endblock %}
{% block body %}
<div class="container vh-100 " >
  <div class="row justify-content-center">
      <div class="col-sm-12 col-md-7" style="margin-top: 8rem;">
          {% include "notification.html" %}
          <div class="shadow-lg m-4  " >
              <div class="card-header">
                  <div class="card-title"><h2>Enter verification Code</h2></div>
              </div>
              <form method="POST" class="p-4">
                  <div class="form-group">
                    <label for="email">Enter code</label>
                    <input type="otp"
                      class="form-control" name="otp" id="otp" aria-describedby="otpHelp">
                      <div class="text-right p-1">
                        <a href="/forgot">resend Code</a>
                      </div>
                  </div>
                  
                  <button class="btn btn-success btn-block">Submit</button>
                  
                </form>
                
                
                </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}
{% block js %}


{% endblock %}