{% extends 'base.html' %}

{% block css %}
<style>
  section.scroll {
    margin: 4px, 4px;
    padding: 4px;
    background-color: green;
    width: 500px;
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
  }
</style>
{% endblock %}
{% block body %}



<section class="vh-90" style="background-color: #508bfc;">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
    
      <div class="col-12 col-md-6 col-lg-8 col-xl-5">
        {% include "notification.html" %}
       
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-4 text-center">
            <form method="POST">

              <h3 class="mb-4 text-center fs-1">SignUp</h3>
              <div class="form-floating mb-3">
                <input type="name" class="form-control" id="floatingInput" placeholder="Name">
                <label for="floatingInput">Enter Name</label>
              </div>

              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating mb-3">
                <input type="cpassword" class="form-control" id="floatingPassword" placeholder="confirm Password">
                <label for="floatingPassword">confirm Password</label>
              </div>


              <button class="btn btn-outline-primary btn-lg btn-block " type="submit">Register</button>

            </form>

            <hr class="my-3">

            <div class="text-center ">
              <p>already a member? <a href="/login">Login</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script>
  $(function () {
    anime({
      targets: '.container',
      translateY: [
        { value: -30, duration: 300 },
        { value: 0, duration: 600 }
      ],
      delay: 100,
      easing: 'easeInOutQuad'
    });


  });
</script>
{% endblock %}